html {
    font-family: 'Josefin Sans', sans-serif !important;
}

.block-grid .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
@media (min-width: 768px){
.block-grid {
    width: 33.33%;
    height: 500px;

}
}
@media (max-width: 767px){
  .block-grid{
    width: 100%;
    height: 350px;
  }
}
.block-grid {
    float: left;
    position: relative;
}
.block-grid .title {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    right: 20px;
    bottom: 50px;
    z-index: 2;
    font-weight: bolder;
}
.block-grid .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block-grid-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 5px;
}
/* ---- iPhone 5 ---- */
@media only screen
  and (min-width: 320px)
  and (max-width: 568px) {
    .menuItems {
      width:120px;
  }
    .itemName {
        font-size: 9pt;
    }
    #logo {
      width: 100px;
      height: 50px;
    }

}
/* ---- iPhone 6 ---- */
@media only screen
  and (min-width: 375px)
  and (max-width: 736px) {
    .menuItems {
      width:140px;
  }
    .itemName {
        font-size: 12pt;
    }

}
/* ---- Ipad ---- */
@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .menuItems {
      width:145px;
    }
    .itemName {
        font-size: 12pt;
    }
}

.text-center {
  text-align: center;
}

#logo {
    width: 215px;
    vertical-align: -15px;
}
nav ul li a {
    color: #996600;
    font-weight: bold;
    font-size: 1.3em;
}
nav ul li a:hover {
  text-decoration: none !important;
  color: #996600 !important;
}
.dropdown-content li a {
    color: #996600;
    border-bottom: 0px !important;
}
footer.page-footer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(113, 119, 130);
    font-size: 1.2em;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 1.2em;
    min-height: 1px;
}
@media only screen and (min-width: 714px){
footer.page-footer .footer-copyright {
    height: 100px;
    line-height: 100px;
}
}
@media only screen and (min-width: 320px){

footer.page-footer .footer-copyright {
    height: 100px;
    line-height: 30px;
}
}
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 100px;
    line-height: 100px;
    background-color: #0d0d0d;
}
  #map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
    #pac-input {
    background-color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  color: black;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
border:1px solid rgb(51, 51, 153);
  }
    input.controls {
    margin-top: -45px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:300px;
background-color: rgb(51, 51, 153);
  }

    #mapButton{
        margin-top: -45px;
        height: 32.6px;
        left:600px;
        position: absolute;
        z-index: 1000;
        background-color:#996600;
        color: white;
        border: 0px;
    }
    #pac-input:focus {
      border-color: #4d90fe;
}
/******** Mobile Friendly *********/
@media (min-width:300px) and (max-width:321px){
  input.controls {
    margin-top: 0px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:-10px;
background-color: rgb(51, 51, 153);
  }

    #mapButton{
        margin-top: 0px;
        height: 32px;
        left:270px;
        position: absolute;
        z-index: 1000;
        background-color:#275CD5;
        color: white;
        border: 0px;
      }
}

@media (min-width:321px) and (max-width:415px){
  input.controls {
    margin-top: 0px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:-10px;
background-color: rgb(51, 51, 153);
  }

    #mapButton{
        margin-top: 0px;
        height: 32px;
        left:300px;
        position: absolute;
        z-index: 1000;
        background-color:#275CD5;
        color: white;
        border: 0px;
      }
}

@media (min-width:415px) and (max-width:768px){
    input.controls {
    margin-top: 0px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:-10px;
background-color: rgb(51, 51, 153);
  }

    #mapButton{
        margin-top: 0px;
        height: 32px;
        left:300px;
        position: absolute;
        z-index: 1000;
        background-color:#275CD5;
        color: white;
        border: 0px;
      }
}

@media (min-width:768px) and (max-width:1220px){
    input.controls {
    margin-top: 0px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:-10px;
background-color: rgb(51, 51, 153);
  }

    #mapButton{
        margin-top: 0px;
        height: 32px;
        left:300px;
        position: absolute;
        z-index: 1000;
        background-color:#275CD5;
        color: white;
        border: 0px;
      }
}

@media (min-width:1280px) and (max-width:1365px){
  input.controls {
    margin-top: -45px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:260px;
background-color: rgb(51, 51, 153);
width: 14% !important;
  }

    #mapButton{
        margin-top: -45px;
        height: 32.6px;
        left:445px;
        position: absolute;
        z-index: 1000;
        background-color:#275CD5;
        color: white;
        border: 0px;
    }
}

@media (min-width:1366px) and (max-width:1441px){
  input.controls {
    margin-top: -45px;
    position: absolute;
color:white;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    z-index: 1000;
    left:260px;
background-color: rgb(51, 51, 153);
    width: 19.5% !important;
  }

    #mapButton{
        margin-top: -45px;
        height: 32.6px;
        left:530px;
        position: absolute;
        z-index: 1000;
        background-color:#275CD5;
        color: white;
        border: 0px;
    }

}
@media only screen and (min-width: 1401px){ /** 16in + laptops **/
  .menuItems {
    width:300px;
}

}
@media only screen and (min-width: 1100px) and (max-width:1400px){ /** 14in laptop **/
  .menuItems {
    width:200px;
}
  .itemName {
    font-size: 14pt;
  }
}
.parallax-container {
    /* The image used */
    background-image: url("../image/zachary-staines-181100.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-aboutus {
    /* The image used */
    background-image: url("../image/serge-esteve-5821.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-product {
    /* The image used */
    background-image: url("../image/vicky-gu-64125.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav .brand-logo {
  padding-left: 20px;
}
