html {
    font-family: 'Josefin Sans', sans-serif !important;
}
#logo {
    width: 215px;
    height: 70px;
    vertical-align: -15px;
}
nav ul li a {
    color: #996600;
    font-weight: bold;
    font-size: 1.3em;
}
.dropdown-content li a {
    color: #996600;
    border-bottom: 0px !important;
}
footer.page-footer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgba(34, 34, 34, 0.6);
    font-size: 1.2em;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0em;
    min-height: 1px;
}
@media only screen and (min-width: 714px)
undono.css:1876
footer.page-footer .footer-copyright {
    height: 100px;
    line-height: 100px;
}
@media only screen and (min-width: 320px)
undono.css:1862
footer.page-footer .footer-copyright {
    height: 100px;
    line-height: 30px;
}
undono.css:1854
footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 100px;
    line-height: 100px;
    background-color: #0d0d0d;
}
